@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .sidebar-icon{
        @apply relative flex items-center justify-center h-12 w-12 mt-2 last:mt-auto mb-2 mx-auto shadow-lg bg-gray-800 text-purple-500
        hover:bg-purple-600 hover:text-white rounded-lg transition-all;
    }

    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
    }

    .section{
        @apply flex flex-col ml-16 items-stretch h-screen w-screen bg-gray-800 text-white;
    }

    .card{
        @apply flex flex-col bg-gray-700 h-auto w-2/3 m-4 mx-auto rounded-md shadow items-center p-6;
    }

    .card-section{
        @apply w-1/2;
    }
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.mzauto{
    margin: 0 auto;
}

.mautoz{
    margin: 0 auto;
}